/* ContactUsPage.css */
.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

input,
textarea {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffdd57;
}